.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: 
    url("3.jpg");
  background-size: cover;
  margin-top: 10px;
}

.loginTitle {
  font-size: 50px;
  color: #fff;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
  color: #fff;

}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.loginInput:focus {
  outline: none;
}

.loginB {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(42, 7, 238);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  
}

.loginRegisterButton {
  position: absolute;
  top: 100px;
  Right: 80px;
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
 
}
