.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:
    url("4.jpg");
  background-size: cover;
  margin-top: 10px;
}

.registerTitle {
  font-size: 50px;
  color: #fff;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
  color: #fff;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #0a0a0a;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(13, 9, 247);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerLoginButton {
  position: absolute;
  top: 110px;
  right: 20px;
  background-color: rgb(8, 240, 105);
  cursor: pointer;
  padding: 10px;
  border: none;
  color: rgb(247, 243, 243);
  border-radius: 10px;
}
